/**
 * #.# Codeable Custom Header CSS
 *
 * Fix for the fixed, full screen header image to be consistent across all pages.
 */

.has-header-image .custom-header {
    width: 100%;
    display: table;
    height: 300px;
    height: 75vh;
}
.has-header-image.twentyseventeen-front-page .custom-header-media img {
    position: absolute;
}
@media screen and (min-width: 48em) {
    .has-header-image .custom-header {
        display: block;
        height: auto;
        margin-bottom: 0 !important; /* This will override the fixed height that's being set here in global.js  */
    }
    .has-header-image .custom-header-media {
        position: relative;
        height: 100vh;
        max-height: 100%;
        overflow: hidden;
    }
    .has-header-image .custom-header-media:before {
        height: 33%;
    }
    .has-header-image:not(.twentyseventeen-front-page):not(.home) .custom-header-media, .has-header-video:not(.twentyseventeen-front-page):not(.home) .custom-header-media {
        bottom: 0;
        height: 100vh;
        left: 0;
        position: relative;
        right: 0;
        top: 0;
    }
    .has-header-image:not(.twentyseventeen-front-page):not(.home).admin-bar .custom-header-media {
        height: calc(100vh - 32px);
    }
    .has-header-image .site-branding {
        bottom: 0;
        display: block;
        left: 0;
        height: auto;
        padding-top: 0;
        position: absolute;
        width: 100%;
        margin-bottom: 0 !important;  /* This will override the fixed height that's being set here in global.js  */
       
    }
}
